body{
	
	background-color: lightblue;

	/*background-image: url("cupcakes desert.jpg");*/

	background-size: cover;

    font-family: "Avenir Next";

    background-image: url('../images/blog/blog_background.jpg');
	
	min-height:1500px;
}
.header{
	background-color: #0009;/*for transparent header*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;

    }

.header :hover{

    background-color: #21b4385;

}

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display: inline-block;/*if we remove this then heading will be shown in vertical*/

	 font-size:25;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all;
	 
	 

}
.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;

	height:90px;
	
	line-height:70px;
}


li{
	list-style: none;


}

h1.hello{
	font-size:80;
}

h2.description{
	font-size:50;
}

.learnmore{
	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#111111;

	font-size: 25;

	line-height:50px;

	display: block;
}

.learnmore a{
	color:#f39d1a;
}

.learnmore *:hover{
	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#f39d1a;

	color:#ffffff;

	font-size: 25;

	line-height:45px;

	display:block;
	
}
.main
{

    height: 600px;
	color: ffffff;

}

.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}


a:hover{

	text-decoration: none;
}

.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
	
	
}
.footnote{



	padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}

.header-list ul li:hover{

	background-color: #f39d1a;
	color: #ffffff;
}

li.selected{
	color:#f39d1a;
}

.selhover :hover{
	
	color:#ffffff;
	font-size:40;
}
*{

margin: 0px;

}

a{

	text-decoration: none;

}

.main-header1{


	text-align: center;

	background-color: #0009;

	

	width: 1050px;

	margin-top: 60px;

	margin:auto;
	
	position:relative;

}

.main-header1 p{

    padding-left: 3em ;

    padding-right: 3em;

    font-size: 25px;

    color: white;
	
	text-align: center;
	
	margin:auto;

}

.main-header1 h1{

  text-decoration:  none;

  color: black;
  
  text-align:center;
  
  margin: auto;
  
  font-size: 50;
  
  color : silver;

}

.main-header2{


	text-align: center;

	background-color: #0009;



	width: 1050px;

	margin-top: 15px;

	margin:auto;
	
	text-align:center;
	
	position: relative;

}



.main-header2 h1{

  text-decoration:  none;

  color: black;
  
  font-size: 50;
  
  color : silver;
  
  margin: auto;

}

 .main img{

    border: 4px solid #ddd;	
 
	border-radius: 5px;

	height: 200px;

	width: 200px;

	float: left;

	margin-left: 15px;

	margin-right: 15px;

}

.main img:hover 

{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main-header2 p{

    padding-left: 3em ;

    padding-right: 3em;

    font-size: 25px;

    color: white;
	
	margin:auto;

}





.main-header3{


	text-align: center;

	background-color: #0009;



	width: 1050px;

	margin-top: 15px;

	margin-left: 10px;
	
	margin:auto;

}



.main-header3 h1{

  text-decoration:  none;

  color: black;
  
  margin: auto;
  
  font-size: 50;
  
  color : silver;

}


.main-header3 p{

    padding-left: 3em ;

    padding-right: 3em;

    font-size: 25px;

    color: white;
	
	margin: auto;

}




.main-header4{


	text-align: center;

	background-color: #0009;

	

	width: 1050px;

	margin-top: 15px;

	margin: auto;

}



.main-header4 h1{

  text-decoration:  none;

  color: black;
  
  margin: auto;
  
  font-size: 50;
  
  color : silver;

}


.main-header4 p{

    padding-left: 3em ;

    padding-right: 3em;

    font-size: 25px;

    color: white;
	
	margin: auto;

}

.main-header4 h2{

  text-decoration: none;

  color: black;

  padding-left: 10px;
  
  margin: auto;

}

h4{
	font-size:40;
	
	color: #f39d1a;
}

