body{
	
	background-color: lightblue;

	/*background-image: url("cupcakes desert.jpg");*/

	background-size: cover;

    font-family: "Avenir Next";

    background-image: url("../images/clients/clients_background.jpg");
	
	min-width:1500px;
	
}
.header{
	background-color: #0009;/*for transparent header*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;

    }

.header :hover{

    background-color: #21b4385;

}

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display:inline-block;/*if we remove this then heading will be shown in vertical*/

	 font-size:25;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all;
	 
	 

}
.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;
	
	height:90px;
	
	line-height:70px;
}


li{
	list-style: none;
}

.main h1.heading{
	
	color: #f39d1a;
	
	font-size:80;
	
	font-family:"Algerian";
	
	border:3px groove #f39d1a;
	
	background: #0007;
	
	margin:auto;
	
	border-radius: 30px;
	
	text-align: center;
	
	width: 60%;
	
}


.learnmore{
	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#111111;

	font-size: 25;

	line-height:50px;

	display: block;
}

.learnmore a{
	color:#f39d1a;
}

.learnmore *:hover{
	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#f39d1a;

	color:#ffffff;

	font-size: 25;

	line-height:45px;

	display:block;
	
}
.main
{
	height: 600px;

   
}

.main p{
 
 color: #0000FF;

 font-size: 13px;



}





.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}


a:hover{

	text-decoration: none;
}

.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
	
	
}
.footnote{



	padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}

.header-list ul li:hover{

	background-color: #f39d1a;
	color: #ffffff;
}

li.selected{
	color:#f39d1a;
}

.selhover :hover{
	
	color:#ffffff;
	font-size:40;
}
*{

margin: 0px;

}

a{

	text-decoration: none;

}

.client1{

	background-color: #0009;

	margin-top: 20px;

	margin-right: 10px;

	margin-left: 10px;

	margin-left: 10px;

	padding-top: 6px;

	border-left: 10px;

    height:200px;

}

.client1 img{

	height: 175px;

	width: 200px;

	padding-left: 40px;

    padding-top: 7px;
}


.client2{

	background-color: #0009;

	margin-top: 20px;

	margin-right: 10px;

	margin-left: 10px;

	margin-left: 10px;

	padding-top: 6px;

	border-left: 10px;

    height:200px;

}

.client2 img{

	height: 175px;

	width: 200px;

	padding-left: 40px;

    padding-top: 7px;
}

