
/*----------------Editing body content----------------*/

body{

	margin: 0;

	padding: 0;

	background-image : url('../images/pricing/pricing_background.jpg') ;

	background-repeat: no-repeat;

	background-size: cover;

	background-attachment: fixed;

}

/*-------------------editing the header part----------------  */

.header{
	background-color: #0009;/*for transparent header*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;
	
	position:fixed;
	
	width:100%;
	
	z-index:2;

    }

  /*-----------------applying the hover effect to the header part-------------------*/   

.header :hover{

    background-color: #21b4385;

}

/*-------------applying float property to header list--------------*/

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display:inline-block;/*if we remove this then heading will be shown in vertical*/

	 font-size:25;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all;
	 
}

   /*----------------editing the logo------------------------*/

.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;
	height:90px;
	
	line-height:70px;
}


.main
{
    height: 600px;

	color: ffffff;

	padding:100px;
}

/*------------------------Editing the footer part-------------------- */

.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;/*---------applying shdow effects------------*/

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);/*------------applying transparent background to the footer----------------*/


    box-shadow: inset 0 1px rgba(255,255,255,0.3);

	min-width:1500px;

}


a:hover{

	text-decoration: none;
}

/*-------------------editing the footer logo--------------------*/


.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
	
	
}
.footnote{



	padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}

.header-list ul li:hover{

	background-color: #f39d1a;

	color: #ffffff;
}

li.selected{

	color:#f39d1a;
}

.selhover :hover{
	
	color:#ffffff;

	font-size:40;
}

*{

margin: 0px;

}

a{

	text-decoration: none;

}

/* ------------------------editing pricing column1------------------------*/


.pricing-table{

	max-width: 1200px;

	margin: auto;

	display: flex;

   justify-content: center;

	text-align: center;

	flex-wrap: wrap;
    
}



.col{

    


    flex: 25%;

	padding: 10px;

	max-width: 320px;

	box-sizing: border-box;
	 
}

/* ------------------------editing pricing column2------------------------*/

.pricing-table1{

	max-width: 1200px;

	margin: auto;

	display: flex;

   justify-content: center;

	text-align: center;

	flex-wrap: wrap;

}


.col1{

    
	flex: 25%;

	padding: 10px;

	max-width: 320px;

	box-sizing: border-box;


	float: left;

 
}

/* ------------------------editing pricing column3------------------------*/

.pricing-table2{

	max-width: 1200px;

	margin: auto;

	display: flex;

   justify-content: center;

	text-align: center;

	flex-wrap: wrap;

}


.col2{

	flex: 25%;

	padding: 10px;

	max-width: 320px;

	box-sizing: border-box;

	float: right;
 
}

/* ------------------------editing pricing column4------------------------*/


.pricing-table3{

	max-width: 1200px;

	margin: auto;

	display: flex;

   justify-content: center;

	text-align: center;

	flex-wrap: wrap;

}


.col3{

    


	flex: 25%;

	padding: 10px;

	max-width: 320px;

	box-sizing: border-box;

	float: right;
 

}

/*----------------------editing table------------------*/


.table{

	background-color: #0009;;

	padding: 40px 20px;

	font-family: "montserrat",sans-serif;

	position: relative;

	overflow: hidden;

	overflow-x: hidden;

	box-shadow: 0 0 10px #00000070;


}

.table h2{

	text-transform: uppercase;

}

.table ul{

	margin: 0;

	padding: 0;

	color: white;

}

.table ul li{

	padding: 10px 0;

	list-style: none;

	color: white;

}

.price{

	font-size: 40px;

	margin-bottom: 20px;

	color: white;
}

.price span{

	display: block;

	font-size: 14px;

	color: white;


}

.table a{

	text-decoration: none;

	color: white;

	border: 2px solid #2c3e50;

	display: block;

	padding: 10px 0;

	margin: 10px 0;
    
    border-radius: 40px;

    text-transform: uppercase;

    font-size: 14px;

    transition: 0.5s linear;
}

.table a:hover{

	background: #2c3e50;

	color: #fff;

.pop{

	background: #2c3e50;

	color: #fff;

	transform: rotate(45deg);

	padding: 10px 40px;

	position: absolute;

	top: 16px;

	right: -34px;
}



