

/*----------------Editing body content----------------*/

body{
	
	background-color: lightblue;

	background-size: cover;

    font-family: "Avenir Next";

    background-image: url('../images/services/services_background.jpg');
	
	min-width:1500px;
}

/*-------------------editing the header part----------------  */

.header{

	background-color: #0009;/*for transparent header*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;

    }

    /*------------------------Editing the footer part-------------------- */

.footer{

	/*background-color: #008B8B;*/

	color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}

/*-------------------editing the footer logo--------------------*/


.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
}

.footnote{

    padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}


 /*-----------------applying the hover effect to the header part-------------------*/   

.header :hover{

    background-color: #21b4385;

}

/*-------------applying float property to header list--------------*/

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display:inline-block;/*-------------------if we remove this then heading will be shown in vertical-----------------------*/

	 font-size:25;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all; /*-----------------slow down the display property---------------------*/
	 
	 

}

/*----------------editing the logo------------------------*/

.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;

	height:90px;
	
	line-height:70px;
}


li{
	list-style: none;
}


.learnmore{

	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#111111;

	font-size: 25;

	line-height:50px;

	display:block;

	margin-left:41%;

	padding:0px 0px 0px 5px;

}

/*----------------editing home page--------------------*/

.learnmore a{

	color:#f39d1a;
}

/*-------------------------applying hover effects to the home page------------------------*/

.learnmore *:hover{

	border: 2px solid #f39d1a;

	height:50px;

	width:202px;

	border-radius:50px;	

	background-color:#f39d1a;

	color:#ffffff;

	font-size: 25;

	line-height:50px;

	display:block;

	transform: translate(-5px,-3px);
	
}

/*---------------------editing divisions------------------*/

.container{

		display:block;

		min-height:664px;

		background: linear-gradient(to right,#231709, #0001,#231709);

		justify-content:center;

		box-sizing:border-box;

		align-items: center;

		width:100%

		text-align: center;

}



.main
{

	color: #fff;

	box-sizing:border-box;

	font-family:'poppins',sans-serif;

	display:flex;

	justify-content:center;

	align-items: center;

	transition:.8s all;

	 width:100%; 

	flex-wrap:wrap;
}

.main .box{

	border: 2px solid #f39d1a;

	position:relative;

	width:200px;

	height:230px;

	margin-right:70px;

	background:#000;

	padding:80px 40px 0px;

	box-shadow: 0 15px 45px rgba(0,0,0,2);

	transition .8s all;
}

.main .box :before{

	content:'';

	position:absolute;

	top:0;

	left:0;

	width:100%;

	height:100%;

	transform: scaleY(0);

	transform-origin:top;

	
}

/*---------------applying hover effects to the divisions-------------------*/

.main .box:hover{

	transform: scaleY(1);

	background-color: #f39d1a;

	transition: 0.8s all;
}

.main .box h2{

	position:absolute;

	left:40px;

	top:60px;

	font-size:4em;

	font-weight: 800;

	z-index:1;

	opacity:0.3;

	transition: .8s all;

}

.main .box:hover h2{

	opacity:1;

	color:#fff;

	transform: translateY(-60px);
}

.main .box h3{
	position: relative;

	font-size: 1.5em;

	z-index:2;

	color: #f39d1a;

	transition:0.5s;
}

.main .box p{
	position: relative;

	z-index:2;

	color: #fff;


	transition:0.5s;

	padding-top:10px;
}

.main .box:hover h3,
.main .box:hover p{

	color:#fff;

	padding-top:10px;

}

/*------------------------Editing the footer part-------------------- */

.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}


a:hover{

	text-decoration: none;
}



.header-list ul li:hover{

	background-color: #f39d1a;

	color: #ffffff;
}

li.selected{
	color:#f39d1a;
}

.selhover :hover{
	
	color:#ffffff;

	font-size:40;
}

*{

margin: 0px;

}

a{

	text-decoration: none;

}