
/*----------------Editing body content----------------*/

body{
	
	background-color: lightblue;

	background-size: cover;

    font-family: "Avenir Next";

    background-image: url('../images/skill/skill_background.jpg');
	
	min-width: 1500px;

}

/*-------------------editing the header part----------------  */

.header{

	background-color: #0009;/*----------for transparent header------------*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;

    }


 /*-----------------applying the hover effect to the header part-------------------*/   

.header :hover{

    background-color: #21b4385;

}

/*-------------applying float property to header list--------------*/

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display:inline-block;/*------------if we remove this then heading will be shown in vertical----------------*/

	 font-size:25;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all;  /* -----------------slow down the display property---------------------*/
	 
	 
	}

    /*----------------editing the logo------------------------*/

.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;
	
	height:90px;
	
	line-height:70px;
}

/*------------------------Editing the footer part-------------------- */

li{
	list-style: none;
}

* {box-sizing:border-box}

/* -----------Container for skill bars---------------- */

.container {

  width: 100%;

  background-color: #ddd; /*------------------- Grey background -------------------*/

  margin:auto;

  margin-bottom:45px;

  font-style:italic;
  
}

.skills {
  text-align: right; /*------------------------- Right-align text ---------------------*/

  padding-top: 10px; /*--------------------------- Add top padding --------------------*/

  padding-bottom: 10px; /*-------------------------- Add bottom padding ---------------*/

  color: white; /*---------------------------------- White text color -------------------*/

  font-size:30;

  font-weight:bolder;

}

.safety {width: 95%; background-color: #d39d1a;}

.baking {width: 90%; background-color: #d39d1a;} 

.delivery  {width: 80%; background-color: #d39d1a;} 

.packaging{width: 65%; background-color: #d39d1a;} 


	p{

		font-style: helvetica;

		font-size: 40px;

		font-style:italic;

	}

.learnmore{

	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#111111;

	font-size: 25;

	line-height:50px;

	display:block;

}

.learnmore a{

	color:#f39d1a;
}

.learnmore *:hover{

	border: 2px solid #f39d1a;

	height:50px;

	width:200px;

	border-radius:50px;	

	background-color:#f39d1a;

	color:#ffffff;

	font-size: 25;

	line-height:45px;

	display:block;
	
}

.main

{

    height: 600px;

	background-color:#7226;

}

/*------------------------Editing the footer part-------------------- */

.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black; /*---------applying shdow effects------------*/

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);  /*------------applying transparent background to the footer----------------*/

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}


a:hover{

	text-decoration: none;
}

/*-------------------editing the footer logo--------------------*/

.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
         }
	
.footnote{



	padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}


.header-list ul li:hover{

	background-color: #f39d1a;
	color: #ffffff;
}

li.selected{
	color:#f39d1a;
}

.selhover :hover{
	
	color:#ffffff;
	font-size:40;
}
*{

margin: 0px;

}

a{

	text-decoration: none;

}