body{
	
	background-color: lightblue;

	background-size: cover;

    font-family: "Avenir Next";

    background-image: url('../images/team/team_background.jpg');
	
	min-width: 1500px;
}
/* Tweaks for body such as body background, setting minimum width */
.flip-box img
{
   text-align: center;

   height: 420px;

  width: 300px;

border: 1px solid black;

  border-radius: 30%;
  
  box-shadow: 0 15px 45px rgba(0,0,0,10);

 }

/* Properties for images of team members */

.flip-box{

  float: left;

  margin-top:110px;

  margin-left: 150px;
  
  border: 1px solid black;
	
	border-radius:30%;

  background-color: #8A2BE2;

  text-align: center;


 }

/* Properties for flip box */

 h2.M  {

  font-size:50px;

   }
   

h2.heading{
	
	color: #f39d1a;
	
	font-size:35px;
	
	font-family:"Algerian";
	
	border:3px groove #f39d1a;
	
	background: #0007;
	
	margin:auto;
	
	border-radius: 30px;
	
	text-align: center;
	
	width: 30%;
	
	height : 50px;
	
	line-height: 50px;
	
	/* For heading on team page */
}



/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {

  float: left;

  background-color: transparent;

  width: 300px;

  height: 420px;

  border: 0px solid #f1f1f1;
  
  border-radius: 30px;

  perspective: 1000px; /*  3D effect */
  
  margin-top:60px;
  
}

/* Properties for flip box */

.flip-box-inner {

  position: relative;

  width: 100%;

  height: 100%;

  text-align: center;

  transition: transform 0.8s;

  transform-style: preserve-3d;
  
  background-color: #0000;
}

/* Properties for inner side of flip box */

.flip-box:hover .flip-box-inner {

  transform: rotateY(180deg);

}

/* Position the front and back side */
.flip-box-front, .flip-box-back {

  position: absolute;

  width: 100%;


  height: 100%;

  -webkit-backface-visibility: hidden; 

  backface-visibility: hidden;
  
  box-shadow: 0 15px 45px rgba(0,0,0,2);
}


.flip-box-front {

  background-color: #000;
  
  border-radius:30%;

  color: black;
}


.flip-box-back {

  background-color:     #f39d1a;

  color: white;

  transform: rotateY(180deg);
  
  border-radius:30%;
  
  box-shadow: 0 15px 45px rgba(0,0,0,2);
}

/* Setting front and back side properties for flip box  */

.header{
	background-color: #0009;/*for transparent header*/

    color:	#800080;

    height: 90px;

    border: 0px;

    overflow: hidden;

    }

/* Properties for header */

.header-list li{
     
     float: left;

     padding: 35px 25px;

      display:inline-block;/*if we remove this then heading will be shown in vertical*/

	 font-size:25px;
	 
	 text-align:right;
	 
	 font-family: 'Helvetica';
	 
	 font-weight: bold;

	 color: white;

     transition: 0.8s all;
	 
}

/* Properties for header list */

.header-logo{

	float: left;

	font-size: 36px;

	padding: 0px 40px 0px 10px;

	color: #FF0000;
	height:90px;
	
	line-height:70px;
}

/* Properties for header logo */

li{
	list-style: none;
}

/* Removing bullets from navigation list */

.main
{

    height: 600px;
	color: ffffff;
	background-color:#2226;

}

.footer{

	/*background-color: #008B8B;*/

	 color: #99e6ff;

    position: fixed;

    bottom: 0px;

    margin: 0;

    padding: 0;

    left: 0;

    right: 0;

    width: 100%;

    height: 70px;

    text-shadow: 1px 1px 1px black;

    border-top: 1px solid rgba(0,0,0,0.3);

    background: rgba(0,0,0,0.25);

    box-shadow: inset 0 1px rgba(255,255,255,0.3);



}


a:hover{

	text-decoration: none;
}

.footer-logo{

	font-size: 16px;

	float: left;

	padding: 0px 10px;
	
	color:ffffff;

	height: 70px;
	
	
	
}
.footnote{



	padding: 5px 20px;
	
	margin-left:550px;
	
	font-size:35px;
	
	color:#f39d1a;
	
	background-color:#0009;
	
	margin-right:545px;
	
	margin-top:10px;
	
	border : 2px solid black;
	
	border-radius:10px;
	
	text-align:center;
	
}

/* CSS for footer, footer text and footer logo */

.header-list ul li:hover{

	background-color: #f39d1a;
	color: #ffffff;
}

/* Hover effects for header list */

li.selected{
	color:#f39d1a;
}


*{

margin: 0px;

}

a{

	text-decoration: none;

}

/* Other small tweaks */